<bryntum-scheduler-pro
  [allowOverlap]="config.allowOverlap"
  [fillTicks]="config.fillTicks"
  [zoomOnMouseWheel]="config.zoomOnMouseWheel"
  [zoomOnTimeAxisDoubleClick]="config.zoomOnTimeAxisDoubleClick"
  [useInitialAnimation]="config.useInitialAnimation"
  [transitionDuration]="config.transitionDuration"
  [createEventOnDblClick]="config.createEventOnDblClick"
  [enableDeleteKey]="config.enableDeleteKey"
  [rowHeight]="config.rowHeight"
  [resourceMargin]="config.resourceMargin"
  [barMargin]="config.barMargin"
  [resourceStore]="config.resourceStore"
  [eventStore]="config.eventStore"
  [columns]="config.columns"
  [cellEditFeature]="config.features.cellEdit!"
  [eventDragFeature]="config.features.eventDrag!"
  [eventDragCreateFeature]="config.features.eventDragCreate!"
  [eventMenuFeature]="config.features.eventMenu!"
  [eventResizeFeature]="config.features.eventResize!"
  [groupFeature]="config.features.group!"
  [mergeCellsFeature]="config.features.mergeCells!"
  [scheduleMenuFeature]="config.features.scheduleMenu!"
  [sortFeature]="config.features.sort!"
  [timeRangesFeature]="config.features.timeRanges!"
  [eventEditFeature]="config.features.eventEdit!"
  [cellMenuFeature]="config.features.cellMenu!"
  [headerMenuFeature]="config.features.headerMenu!"
  [timeAxisHeaderMenuFeature]="config.features.timeAxisHeaderMenu!"
  [scheduleTooltipFeature]="config.features.scheduleTooltip!"
  height="100%">
</bryntum-scheduler-pro>
