// Import Bryntum styles
$fa-font-path: '/assets/fonts';
@import '@bryntum/core-thin/sass/themes/classic-light';
@import '@bryntum/grid-thin/sass/themes/classic-light';
@import '@bryntum/scheduler-thin/sass/themes/classic-light';
@import '@bryntum/schedulerpro-thin/sass/themes/classic-light';

body {
  height: 100vh;
  margin: 0;
}

// Merged cells
.crew-cell {
  align-items: center;
  padding: 8px;
  writing-mode: vertical-rl;
  font-size: 12px;
  font-weight: 700;
  color: #475569;
  background-color: #e2e8f0;

  & > * {
    justify-content: center;
  }
}

.b-grid-merged-cells-container {
  z-index: 2;
}
